<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
  <br><br>
  <form action="/" method="post">
    <label for="count">Number of passenger:</label> <br>
    <input type="number" name="fname" height="10px" min="11" max="200">
    <button type="submit" name="button">Click here to <br>calculate seating!</button>
  </form>
  <br><br>
